DataAccess/Service References/Webservice/ReadersService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.epsilab.net/webservices/ReadersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" />
  <xs:import schemaLocation="http://www.epsilab.net/webservices/ReadersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
  <xs:element name="GetClasse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetClasseResult" nillable="true" type="q1:Classe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetClassesResult" nillable="true" type="q2:ArrayOfClasse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetConferenceResult" nillable="true" type="q3:Conference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferences">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetConferencesResult" nillable="true" type="q4:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstResult" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetConferencesLimitedResult" nillable="true" type="q5:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesSorted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstResult" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="order" type="q6:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesSortedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetConferencesSortedResult" nillable="true" type="q7:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesByVille">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="ville" nillable="true" type="q8:Ville" />
        <xs:element minOccurs="0" name="indexFirstResult" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="order" type="q9:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesByVilleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetConferencesByVilleResult" nillable="true" type="q10:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferenceLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferenceLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConferenceLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="SearchConferencesResult" nillable="true" type="q11:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetLienResult" nillable="true" type="q12:Lien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetLiensResult" nillable="true" type="q13:ArrayOfLien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetMembreResult" nillable="true" type="q14:Membre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetMembresResult" nillable="true" type="q15:ArrayOfMembre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembresLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembresLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetMembresLimitedResult" nillable="true" type="q16:ArrayOfMembre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembresSorted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="order" type="q17:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembresSortedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetMembresSortedResult" nillable="true" type="q18:ArrayOfMembre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembresByVilleAndRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="ville" nillable="true" type="q19:Ville" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="role" nillable="true" type="q20:Role" />
        <xs:element minOccurs="0" name="indexFirstResult" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="order" type="q21:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembresByVilleAndRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetMembresByVilleAndRoleResult" nillable="true" type="q22:ArrayOfMembre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembreLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembreLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMembreLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMembres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMembresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="SearchMembresResult" nillable="true" type="q23:ArrayOfMembre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetNewsResult" nillable="true" type="q24:News" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetListNewsResult" nillable="true" type="q25:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNewsLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNewsLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetListNewsLimitedResult" nillable="true" type="q26:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNewsSorted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="order" type="q27:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNewsSortedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetListNewsSortedResult" nillable="true" type="q28:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewsLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="SearchNewsResult" nillable="true" type="q29:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetProjetResult" nillable="true" type="q30:Projet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetProjetsResult" nillable="true" type="q31:ArrayOfProjet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetsLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetsLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetProjetsLimitedResult" nillable="true" type="q32:ArrayOfProjet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetsSorted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="order" type="q33:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetsSortedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetProjetsSortedResult" nillable="true" type="q34:ArrayOfProjet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetsByVille">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="filter" nillable="true" type="q35:Ville" />
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="order" type="q36:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetsByVilleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetProjetsByVilleResult" nillable="true" type="q37:ArrayOfProjet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjetLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProjetLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPubliciteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetPubliciteResult" nillable="true" type="q38:Publicite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetPublicitesResult" nillable="true" type="q39:ArrayOfPublicite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetRoleResult" nillable="true" type="q40:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetRolesResult" nillable="true" type="q41:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetSalonResult" nillable="true" type="q42:Salon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetSalonsResult" nillable="true" type="q43:ArrayOfSalon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalonsLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalonsLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetSalonsLimitedResult" nillable="true" type="q44:ArrayOfSalon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalonsSorted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="order" type="q45:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalonsSortedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetSalonsSortedResult" nillable="true" type="q46:ArrayOfSalon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalonLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalonLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSalonLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSalons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSalonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="SearchSalonsResult" nillable="true" type="q47:ArrayOfSalon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVille">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVilleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetVilleResult" nillable="true" type="q48:Ville" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVilles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVillesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" minOccurs="0" name="GetVillesResult" nillable="true" type="q49:ArrayOfVille" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>