Saturn.Model/Service References/ReadersService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReadersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConferenceReader_GetConference_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConference" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConference_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferences_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConferences" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferencesLimited_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConferencesLimited" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferencesLimited_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConferencesLimitedResponse" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferencesByCampus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConferencesByCampus" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferencesByCampus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConferencesByCampusResponse" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferencesByCampusLimited_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConferencesByCampusLimited" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferencesByCampusLimited_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConferencesByCampusLimitedResponse" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferenceLastInsertedId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConferenceLastInsertedId" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_GetConferenceLastInsertedId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConferenceLastInsertedIdResponse" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_SearchConferences_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchConferences" />
  </wsdl:message>
  <wsdl:message name="IConferenceReader_SearchConferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchConferencesResponse" />
  </wsdl:message>
  <wsdl:message name="ILinkReader_GetLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLink" />
  </wsdl:message>
  <wsdl:message name="ILinkReader_GetLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinkResponse" />
  </wsdl:message>
  <wsdl:message name="ILinkReader_GetLinks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinks" />
  </wsdl:message>
  <wsdl:message name="ILinkReader_GetLinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinksResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMember_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMember" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembers" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembersByCampus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersByCampus" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembersByCampus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersByCampusResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembersBureau_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersBureau" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembersBureau_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersBureauResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembersBureauByCampus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersBureauByCampus" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembersBureauByCampus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersBureauByCampusResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembersAlumnis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersAlumnis" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMembersAlumnis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersAlumnisResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMemberLastInsertedId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberLastInsertedId" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_GetMemberLastInsertedId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberLastInsertedIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_SearchMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchMembers" />
  </wsdl:message>
  <wsdl:message name="IMemberReader_SearchMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchMembersResponse" />
  </wsdl:message>
  <wsdl:message name="INewsReader_GetNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNews" />
  </wsdl:message>
  <wsdl:message name="INewsReader_GetNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsReader_GetListNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListNews" />
  </wsdl:message>
  <wsdl:message name="INewsReader_GetListNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsReader_GetListNewsLimited_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListNewsLimited" />
  </wsdl:message>
  <wsdl:message name="INewsReader_GetListNewsLimited_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListNewsLimitedResponse" />
  </wsdl:message>
  <wsdl:message name="INewsReader_GetNewsLastInsertedId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsLastInsertedId" />
  </wsdl:message>
  <wsdl:message name="INewsReader_GetNewsLastInsertedId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsLastInsertedIdResponse" />
  </wsdl:message>
  <wsdl:message name="INewsReader_SearchNews_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchNews" />
  </wsdl:message>
  <wsdl:message name="INewsReader_SearchNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchNewsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProject" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjects" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjectsLimited_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsLimited" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjectsLimited_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsLimitedResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjectsByCampus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsByCampus" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjectsByCampus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsByCampusResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjectsByCampusLimited_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsByCampusLimited" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjectsByCampusLimited_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsByCampusLimitedResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjectLastInsertedId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectLastInsertedId" />
  </wsdl:message>
  <wsdl:message name="IProjectReader_GetProjectLastInsertedId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectLastInsertedIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISlideReader_GetSlide_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSlide" />
  </wsdl:message>
  <wsdl:message name="ISlideReader_GetSlide_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSlideResponse" />
  </wsdl:message>
  <wsdl:message name="ISlideReader_GetSlides_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSlides" />
  </wsdl:message>
  <wsdl:message name="ISlideReader_GetSlides_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSlidesResponse" />
  </wsdl:message>
  <wsdl:message name="IShowReader_GetShow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShow" />
  </wsdl:message>
  <wsdl:message name="IShowReader_GetShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowResponse" />
  </wsdl:message>
  <wsdl:message name="IShowReader_GetShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShows" />
  </wsdl:message>
  <wsdl:message name="IShowReader_GetShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IShowReader_GetShowsLimited_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsLimited" />
  </wsdl:message>
  <wsdl:message name="IShowReader_GetShowsLimited_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsLimitedResponse" />
  </wsdl:message>
  <wsdl:message name="IShowReader_GetShowLastInsertedId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowLastInsertedId" />
  </wsdl:message>
  <wsdl:message name="IShowReader_GetShowLastInsertedId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowLastInsertedIdResponse" />
  </wsdl:message>
  <wsdl:message name="IShowReader_SearchShows_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchShows" />
  </wsdl:message>
  <wsdl:message name="IShowReader_SearchShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchShowsResponse" />
  </wsdl:message>
  <wsdl:message name="ICampusReader_GetCampus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCampus" />
  </wsdl:message>
  <wsdl:message name="ICampusReader_GetCampus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCampusResponse" />
  </wsdl:message>
  <wsdl:message name="ICampusReader_GetCampuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCampuses" />
  </wsdl:message>
  <wsdl:message name="ICampusReader_GetCampuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCampusesResponse" />
  </wsdl:message>
  <wsdl:portType name="IConferenceReader">
    <wsdl:operation name="GetConference">
      <wsdl:input wsaw:Action="http://tempuri.org/IConferenceReader/GetConference" message="tns:IConferenceReader_GetConference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConferenceReader/GetConferenceResponse" message="tns:IConferenceReader_GetConference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IConferenceReader/GetConferences" message="tns:IConferenceReader_GetConferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConferenceReader/GetConferencesResponse" message="tns:IConferenceReader_GetConferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConferencesLimited">
      <wsdl:input wsaw:Action="http://tempuri.org/IConferenceReader/GetConferencesLimited" message="tns:IConferenceReader_GetConferencesLimited_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConferenceReader/GetConferencesLimitedResponse" message="tns:IConferenceReader_GetConferencesLimited_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConferencesByCampus">
      <wsdl:input wsaw:Action="http://tempuri.org/IConferenceReader/GetConferencesByCampus" message="tns:IConferenceReader_GetConferencesByCampus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConferenceReader/GetConferencesByCampusResponse" message="tns:IConferenceReader_GetConferencesByCampus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConferencesByCampusLimited">
      <wsdl:input wsaw:Action="http://tempuri.org/IConferenceReader/GetConferencesByCampusLimited" message="tns:IConferenceReader_GetConferencesByCampusLimited_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConferenceReader/GetConferencesByCampusLimitedResponse" message="tns:IConferenceReader_GetConferencesByCampusLimited_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConferenceLastInsertedId">
      <wsdl:input wsaw:Action="http://tempuri.org/IConferenceReader/GetConferenceLastInsertedId" message="tns:IConferenceReader_GetConferenceLastInsertedId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConferenceReader/GetConferenceLastInsertedIdResponse" message="tns:IConferenceReader_GetConferenceLastInsertedId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchConferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IConferenceReader/SearchConferences" message="tns:IConferenceReader_SearchConferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConferenceReader/SearchConferencesResponse" message="tns:IConferenceReader_SearchConferences_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILinkReader">
    <wsdl:operation name="GetLink">
      <wsdl:input wsaw:Action="http://tempuri.org/ILinkReader/GetLink" message="tns:ILinkReader_GetLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILinkReader/GetLinkResponse" message="tns:ILinkReader_GetLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLinks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILinkReader/GetLinks" message="tns:ILinkReader_GetLinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILinkReader/GetLinksResponse" message="tns:ILinkReader_GetLinks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMemberReader">
    <wsdl:operation name="GetMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberReader/GetMember" message="tns:IMemberReader_GetMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberReader/GetMemberResponse" message="tns:IMemberReader_GetMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberReader/GetMembers" message="tns:IMemberReader_GetMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberReader/GetMembersResponse" message="tns:IMemberReader_GetMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMembersByCampus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberReader/GetMembersByCampus" message="tns:IMemberReader_GetMembersByCampus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberReader/GetMembersByCampusResponse" message="tns:IMemberReader_GetMembersByCampus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMembersBureau">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberReader/GetMembersBureau" message="tns:IMemberReader_GetMembersBureau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberReader/GetMembersBureauResponse" message="tns:IMemberReader_GetMembersBureau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMembersBureauByCampus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberReader/GetMembersBureauByCampus" message="tns:IMemberReader_GetMembersBureauByCampus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberReader/GetMembersBureauByCampusResponse" message="tns:IMemberReader_GetMembersBureauByCampus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMembersAlumnis">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberReader/GetMembersAlumnis" message="tns:IMemberReader_GetMembersAlumnis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberReader/GetMembersAlumnisResponse" message="tns:IMemberReader_GetMembersAlumnis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberLastInsertedId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberReader/GetMemberLastInsertedId" message="tns:IMemberReader_GetMemberLastInsertedId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberReader/GetMemberLastInsertedIdResponse" message="tns:IMemberReader_GetMemberLastInsertedId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberReader/SearchMembers" message="tns:IMemberReader_SearchMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberReader/SearchMembersResponse" message="tns:IMemberReader_SearchMembers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="INewsReader">
    <wsdl:operation name="GetNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsReader/GetNews" message="tns:INewsReader_GetNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsReader/GetNewsResponse" message="tns:INewsReader_GetNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsReader/GetListNews" message="tns:INewsReader_GetListNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsReader/GetListNewsResponse" message="tns:INewsReader_GetListNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListNewsLimited">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsReader/GetListNewsLimited" message="tns:INewsReader_GetListNewsLimited_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsReader/GetListNewsLimitedResponse" message="tns:INewsReader_GetListNewsLimited_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsLastInsertedId">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsReader/GetNewsLastInsertedId" message="tns:INewsReader_GetNewsLastInsertedId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsReader/GetNewsLastInsertedIdResponse" message="tns:INewsReader_GetNewsLastInsertedId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsReader/SearchNews" message="tns:INewsReader_SearchNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsReader/SearchNewsResponse" message="tns:INewsReader_SearchNews_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IProjectReader">
    <wsdl:operation name="GetProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectReader/GetProject" message="tns:IProjectReader_GetProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectReader/GetProjectResponse" message="tns:IProjectReader_GetProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectReader/GetProjects" message="tns:IProjectReader_GetProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectReader/GetProjectsResponse" message="tns:IProjectReader_GetProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsLimited">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectReader/GetProjectsLimited" message="tns:IProjectReader_GetProjectsLimited_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectReader/GetProjectsLimitedResponse" message="tns:IProjectReader_GetProjectsLimited_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCampus">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectReader/GetProjectsByCampus" message="tns:IProjectReader_GetProjectsByCampus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectReader/GetProjectsByCampusResponse" message="tns:IProjectReader_GetProjectsByCampus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCampusLimited">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectReader/GetProjectsByCampusLimited" message="tns:IProjectReader_GetProjectsByCampusLimited_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectReader/GetProjectsByCampusLimitedResponse" message="tns:IProjectReader_GetProjectsByCampusLimited_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectLastInsertedId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectReader/GetProjectLastInsertedId" message="tns:IProjectReader_GetProjectLastInsertedId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectReader/GetProjectLastInsertedIdResponse" message="tns:IProjectReader_GetProjectLastInsertedId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISlideReader">
    <wsdl:operation name="GetSlide">
      <wsdl:input wsaw:Action="http://tempuri.org/ISlideReader/GetSlide" message="tns:ISlideReader_GetSlide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISlideReader/GetSlideResponse" message="tns:ISlideReader_GetSlide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSlides">
      <wsdl:input wsaw:Action="http://tempuri.org/ISlideReader/GetSlides" message="tns:ISlideReader_GetSlides_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISlideReader/GetSlidesResponse" message="tns:ISlideReader_GetSlides_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IShowReader">
    <wsdl:operation name="GetShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowReader/GetShow" message="tns:IShowReader_GetShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowReader/GetShowResponse" message="tns:IShowReader_GetShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowReader/GetShows" message="tns:IShowReader_GetShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowReader/GetShowsResponse" message="tns:IShowReader_GetShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsLimited">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowReader/GetShowsLimited" message="tns:IShowReader_GetShowsLimited_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowReader/GetShowsLimitedResponse" message="tns:IShowReader_GetShowsLimited_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowLastInsertedId">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowReader/GetShowLastInsertedId" message="tns:IShowReader_GetShowLastInsertedId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowReader/GetShowLastInsertedIdResponse" message="tns:IShowReader_GetShowLastInsertedId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowReader/SearchShows" message="tns:IShowReader_SearchShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowReader/SearchShowsResponse" message="tns:IShowReader_SearchShows_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICampusReader">
    <wsdl:operation name="GetCampus">
      <wsdl:input wsaw:Action="http://tempuri.org/ICampusReader/GetCampus" message="tns:ICampusReader_GetCampus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICampusReader/GetCampusResponse" message="tns:ICampusReader_GetCampus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCampuses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICampusReader/GetCampuses" message="tns:ICampusReader_GetCampuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICampusReader/GetCampusesResponse" message="tns:ICampusReader_GetCampuses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConferenceReader" type="tns:IConferenceReader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConference">
      <soap:operation soapAction="http://tempuri.org/IConferenceReader/GetConference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConferences">
      <soap:operation soapAction="http://tempuri.org/IConferenceReader/GetConferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConferencesLimited">
      <soap:operation soapAction="http://tempuri.org/IConferenceReader/GetConferencesLimited" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConferencesByCampus">
      <soap:operation soapAction="http://tempuri.org/IConferenceReader/GetConferencesByCampus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConferencesByCampusLimited">
      <soap:operation soapAction="http://tempuri.org/IConferenceReader/GetConferencesByCampusLimited" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConferenceLastInsertedId">
      <soap:operation soapAction="http://tempuri.org/IConferenceReader/GetConferenceLastInsertedId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchConferences">
      <soap:operation soapAction="http://tempuri.org/IConferenceReader/SearchConferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ILinkReader" type="tns:ILinkReader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLink">
      <soap:operation soapAction="http://tempuri.org/ILinkReader/GetLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinks">
      <soap:operation soapAction="http://tempuri.org/ILinkReader/GetLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMemberReader" type="tns:IMemberReader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMember">
      <soap:operation soapAction="http://tempuri.org/IMemberReader/GetMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="http://tempuri.org/IMemberReader/GetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersByCampus">
      <soap:operation soapAction="http://tempuri.org/IMemberReader/GetMembersByCampus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersBureau">
      <soap:operation soapAction="http://tempuri.org/IMemberReader/GetMembersBureau" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersBureauByCampus">
      <soap:operation soapAction="http://tempuri.org/IMemberReader/GetMembersBureauByCampus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersAlumnis">
      <soap:operation soapAction="http://tempuri.org/IMemberReader/GetMembersAlumnis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberLastInsertedId">
      <soap:operation soapAction="http://tempuri.org/IMemberReader/GetMemberLastInsertedId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMembers">
      <soap:operation soapAction="http://tempuri.org/IMemberReader/SearchMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_INewsReader" type="tns:INewsReader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNews">
      <soap:operation soapAction="http://tempuri.org/INewsReader/GetNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListNews">
      <soap:operation soapAction="http://tempuri.org/INewsReader/GetListNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListNewsLimited">
      <soap:operation soapAction="http://tempuri.org/INewsReader/GetListNewsLimited" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsLastInsertedId">
      <soap:operation soapAction="http://tempuri.org/INewsReader/GetNewsLastInsertedId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchNews">
      <soap:operation soapAction="http://tempuri.org/INewsReader/SearchNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IProjectReader" type="tns:IProjectReader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProject">
      <soap:operation soapAction="http://tempuri.org/IProjectReader/GetProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <soap:operation soapAction="http://tempuri.org/IProjectReader/GetProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsLimited">
      <soap:operation soapAction="http://tempuri.org/IProjectReader/GetProjectsLimited" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCampus">
      <soap:operation soapAction="http://tempuri.org/IProjectReader/GetProjectsByCampus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCampusLimited">
      <soap:operation soapAction="http://tempuri.org/IProjectReader/GetProjectsByCampusLimited" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectLastInsertedId">
      <soap:operation soapAction="http://tempuri.org/IProjectReader/GetProjectLastInsertedId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISlideReader" type="tns:ISlideReader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSlide">
      <soap:operation soapAction="http://tempuri.org/ISlideReader/GetSlide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSlides">
      <soap:operation soapAction="http://tempuri.org/ISlideReader/GetSlides" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IShowReader" type="tns:IShowReader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShow">
      <soap:operation soapAction="http://tempuri.org/IShowReader/GetShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <soap:operation soapAction="http://tempuri.org/IShowReader/GetShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsLimited">
      <soap:operation soapAction="http://tempuri.org/IShowReader/GetShowsLimited" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowLastInsertedId">
      <soap:operation soapAction="http://tempuri.org/IShowReader/GetShowLastInsertedId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchShows">
      <soap:operation soapAction="http://tempuri.org/IShowReader/SearchShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICampusReader" type="tns:ICampusReader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCampus">
      <soap:operation soapAction="http://tempuri.org/ICampusReader/GetCampus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampuses">
      <soap:operation soapAction="http://tempuri.org/ICampusReader/GetCampuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadersService">
    <wsdl:port name="BasicHttpBinding_IConferenceReader" binding="tns:BasicHttpBinding_IConferenceReader">
      <soap:address location="http://www.epsilab.net/webservices/ReadersService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ILinkReader" binding="tns:BasicHttpBinding_ILinkReader">
      <soap:address location="http://www.epsilab.net/webservices/ReadersService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMemberReader" binding="tns:BasicHttpBinding_IMemberReader">
      <soap:address location="http://www.epsilab.net/webservices/ReadersService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_INewsReader" binding="tns:BasicHttpBinding_INewsReader">
      <soap:address location="http://www.epsilab.net/webservices/ReadersService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IProjectReader" binding="tns:BasicHttpBinding_IProjectReader">
      <soap:address location="http://www.epsilab.net/webservices/ReadersService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISlideReader" binding="tns:BasicHttpBinding_ISlideReader">
      <soap:address location="http://www.epsilab.net/webservices/ReadersService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IShowReader" binding="tns:BasicHttpBinding_IShowReader">
      <soap:address location="http://www.epsilab.net/webservices/ReadersService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICampusReader" binding="tns:BasicHttpBinding_ICampusReader">
      <soap:address location="http://www.epsilab.net/webservices/ReadersService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>