Saturn.Model/Service References/ReadersService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" />
  <xs:element name="GetConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetConferenceResult" nillable="true" type="q1:Conference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferences">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetConferencesResult" nillable="true" type="q2:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstResult" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetConferencesLimitedResult" nillable="true" type="q3:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesByCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="campus" nillable="true" type="q4:Campus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesByCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetConferencesByCampusResult" nillable="true" type="q5:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesByCampusLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="campus" nillable="true" type="q6:Campus" />
        <xs:element minOccurs="0" name="indexFirstResult" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferencesByCampusLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetConferencesByCampusLimitedResult" nillable="true" type="q7:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferenceLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferenceLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConferenceLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="SearchConferencesResult" nillable="true" type="q8:ArrayOfConference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetLinkResult" nillable="true" type="q9:Link" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetLinksResult" nillable="true" type="q10:ArrayOfLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetMemberResult" nillable="true" type="q11:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetMembersResult" nillable="true" type="q12:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersByCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="campus" nillable="true" type="q13:Campus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersByCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetMembersByCampusResult" nillable="true" type="q14:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersBureau">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersBureauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetMembersBureauResult" nillable="true" type="q15:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersBureauByCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="campus" nillable="true" type="q16:Campus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersBureauByCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetMembersBureauByCampusResult" nillable="true" type="q17:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersAlumnis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="campus" nillable="true" type="q18:Campus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersAlumnisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetMembersAlumnisResult" nillable="true" type="q19:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="SearchMembersResult" nillable="true" type="q20:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetNewsResult" nillable="true" type="q21:News" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetListNewsResult" nillable="true" type="q22:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNewsLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNewsLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetListNewsLimitedResult" nillable="true" type="q23:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewsLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="SearchNewsResult" nillable="true" type="q24:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetProjectResult" nillable="true" type="q25:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetProjectsResult" nillable="true" type="q26:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetProjectsLimitedResult" nillable="true" type="q27:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="campus" nillable="true" type="q28:Campus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetProjectsByCampusResult" nillable="true" type="q29:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByCampusLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="campus" nillable="true" type="q30:Campus" />
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByCampusLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetProjectsByCampusLimitedResult" nillable="true" type="q31:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProjectLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetSlideResult" nillable="true" type="q32:Slide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlides">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlidesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetSlidesResult" nillable="true" type="q33:ArrayOfSlide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetShowResult" nillable="true" type="q34:Show" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShows">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetShowsResult" nillable="true" type="q35:ArrayOfShow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowsLimited">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexFirstElement" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowsLimitedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetShowsLimitedResult" nillable="true" type="q36:ArrayOfShow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowLastInsertedId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowLastInsertedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShowLastInsertedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchShows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchShowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="SearchShowsResult" nillable="true" type="q37:ArrayOfShow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetCampusResult" nillable="true" type="q38:Campus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/EPSILab.SolarSystem.Earth.Common" minOccurs="0" name="GetCampusesResult" nillable="true" type="q39:ArrayOfCampus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>